<% layout('layouts/boilerplate')%>
<h1>All EVENTS</h1>
    <% for(let event of events ) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-8 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Event title: <%= event.title %> </h5>
                    <p class="card-text">
                        <small class="text-muted">Event Issue Date: <%= event.issue_date%></small>
                    </p>
                    <a class="btn btn-primary" href="/events/<%=event._id%>">View <%=event.title%></a>
                </div>
            </div>
        </div>
    </div>
    <% }%>
    <% if(currentUser.user_role === 'Admin') { %>
    <div > 
        <a class="btn btn-info mt-3 mb-3" href="events/new">ADD A NEW EVENT</a>
    </div>
    <% } %> 