<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENTS</title>
</head>
<body>
    <h1>ALL EVENTS</h1>
    <ul>
        <% for(let event of events ) { %>
        <li><a href="events/<%= event._id %>"><%= event.title %></a></li>
        <% } %> 
    </ul>
    <div>
        <a href="events/new">ADD A NEW EVENT</a>
    </div>
</body>
</html>