<% layout('layouts/boilerplate')%>
  <!--  <h1>ADD A NEW EVENT</h1>
    <form action="/events" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="events[title]">
        </div>
        <div>
            <label for="description">Description</label>
            <textarea name="events[description]" id="description" required></textarea>
        </div>
        <div>
            <label for="issue_date">ISSUE DATE</label>
            <input type="date" id="issue_date" name="events[issue_date]" required>
        </div>
        <div>
            <label for="expiry_date">EXPIRY DATE</label>
            <input type="date" id="expiry_date" name="events[expiry_date]" required>
        </div>
        <button>Add Event</button>
    </form>
    <a href="/events">ALL EVENTS</a>




-->
<div class="row">
    <h1 class="text-center">Add a New Event</h1>
    <div class="col-6 offset-3">
        <form action="/events" method="POST">
            <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="events[title]"class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" name="events[description]" id="description" required></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="issue_date">ISSUE DATE</label>
                <input  class="form-control" type="date" id="issue_date" name="events[issue_date]" required>
            </div>
            <div>
                <label class="form-label" for="expiry_date">EXPIRY DATE</label>
                <input  class="form-control" type="date" id="expiry_date" name="events[expiry_date]" required>
            </div>
            <div class="mb-3 mt-3">
                <button class="btn btn-success">Add Event</button>
            </div>
        </form>
        <form action="/events">
            <button class="btn btn-info">All EVENTS</button>
        </form>
    </div>
</div>