<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BV TNP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/jobs">Jobs</a>
                <a class="nav-link" href="/events">Events</a>
                <a class="nav-link" href="/notices">Notices</a>
                <% if(currentUser && (currentUser.user_role != 'Student')) { %>
                    <a class="nav-link" href="/students">All Students</a>
                <% } %> 
            </div>
            <div class="navbar-nav ml-auto">
                <% if(currentUser) {%>
                <a class="nav-link" href="/logout">Logout</a>
                <%} else{%>
                <a class="nav-link" href="/login">Login</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Register
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/register/company">Company</a>
                        <a class="dropdown-item" href="/register/student">Student</a>
                        <a class="dropdown-item" href="/register/admin">Admin</a>
                    </div>
                </li>
                <%}%>
            </div>
        </div>
    </div>
</nav>