<%- layout('layouts/boilerplate') %>


<h1 class="ml12" style="text-align: center; padding-bottom: 10px; font-weight: 350; ">BANASTHALI VIDYAPITH PLACEMENT PORTAL </h1>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active home-img" >
        <img src="https://cbseneet2019.co.in/wp-content/uploads/2020/10/Banasthali-University-Admission-2021.png"  width="1110px" height= "400px">
      </div>

      <div class="carousel-item  home-img">
        <img src="https://www.aicbanasthali.org/wp-content/uploads/2019/05/banner-2.jpg" >

      </div>
      <div class="carousel-item home-img" >
        <img src="https://www.aicbanasthali.org/wp-content/uploads/2018/04/Untitled-3.jpg" >
      </div>
      
      
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-5">
      
        <p style="font-family: 'EB Garamond', serif; font-size: 22px;">
         
<b>Banasthali Vidyapith</b> Placement Cell aims at building a strong interface between industry and the University for training and placement of students.<br>
 To make recruitment session smoother for students, Placement Cell has a <b>Placement Portal</b> for handling the placement registration for companies visiting our campus.
        </p>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
<img  style="  border: white solid 8px;
width: 500px;
height: 320px;
margin-bottom: 30px;
box-shadow: 1px -1px 17px 10px #ccc;
-webkit-box-shadow: 1px -1px 17px 10px #ccc;
-moz-box-shadow: 1px -1px 17px 10px #ccc;"
 src="https://www.krvsoft.com/images/Product/p_jobportal.png" alt="">
        </div>
    </div>
  </div>









  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>
  var textWrapper = document.querySelector('.ml12');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");


anime.timeline({loop: true})
  .add({
    targets: '.ml12 .letter',
    translateX: [40,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 1200,
    delay: (el, i) => 500 + 30 * i
  }).add({
    targets: '.ml12 .letter',
    translateX: [0,-30],
    opacity: [1,0],
    easing: "easeInExpo",
    duration: 1100,
    delay: (el, i) => 100 + 30 * i
  });
</script>
  


